:root {
    --general-radius: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-size: 1.5rem;
    font-family: Inter, 'Sans-serif';
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

.card-component {
    display: block;
    min-width: 310px;
    width: 88%;
    max-width: 1267px;
    margin: 100px auto 0px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: var(--general-radius);
    background-color: hsl(244, 38%, 16%);
}

.card-component__header {
    display: block;
    background-color: hsl(277, 78%, 40%);
    border-top-left-radius: var(--general-radius);
    border-top-right-radius: var(--general-radius);
}

.card-component img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: .46;
    border-top-left-radius: var(--general-radius);
    border-top-right-radius: var(--general-radius);
}