:root {
    --general-radius: 14px;
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent-img: hsl(277, 78%, 40%);
    --accent: hsl(277, 64%, 61%);
    --color-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --color-stat-headings: hsla(0, 0%, 100%, 0.6)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-size: 1.5rem;
    font-family: Inter, 'Sans-serif';
    background-color: var(--main-background);
    color: hsl(0, 0%, 100%);
}

.card-component {
    display: block;
    min-width: 310px;
    width: 88%;
    max-width: 1267px;
    margin: 100px auto 0px;
    text-align: center;
    border-radius: var(--general-radius);
    background-color: var(--card-background);
}

.card-component__header {
    display: block;
    background-color: var(--accent-img);
    border-top-left-radius: var(--general-radius);
    border-top-right-radius: var(--general-radius);
}

.card-component img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: .46;
    border-top-left-radius: var(--general-radius);
    border-top-right-radius: var(--general-radius);
}


.card-component__body {
    padding: 40px 30px 20px;
}

.card-component__title {
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-weight: 700;
}

.card-component__title span {
    color: var(--accent);
}

.card-component__body p {
    margin-bottom: 40px;
    line-height: 2.5rem;
    color: var(--color-main-paragraph);
}


.stat {
    margin-bottom: 28px;
    text-transform: uppercase;
}

.stat:first-child {
    text-transform: none;
}

.stat__number {
    font-size: 2.3rem;
    font-weight: 700;
}

.stat__title {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: .2rem;
    color: var(--color-stat-headings);
}

.attribution { 
    margin: 40px auto 30px;
    font-size: 13px; 
    text-align: center; 
}
.attribution a { 
    color: var(--accent);
    font-size: 14px; 
    text-transform: none;
}